/**
  * Template: FrozenBlade
  *
  * Coded and Designed
  * By Kitten @ WoWps.org
  *
  * Template copyright WoWps.org 2008
  * http://www.wowps.org/
  */

body {
	background-color: #000000;
	margin: 0 0 0 0;
	font-size: 10px;
	font-family: Verdana;
	color: #6eccfa;
	overflow-x: hidden;
	}

.style1 {
	font-size: 9px;
	font-family: Verdana;
	color: #6eccfa}